<!-- Slider
    ======================================= -->

<div class="container_full slidertop">


    <div class="master-slider ms-skin-default" id="masterslider">

        <!-- slide -->
        <div class="ms-slide slide-1" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="{{ asset('images/sliders/1.jpg') }}" alt=""/>

            <h1 class="ms-layer stext1"
                style="top: 335px; color: #fd4040; "
                data-type="text"
                data-duration="900"
                data-delay="800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                <strong>Au delà des mers et des airs avec<br />
                    ANTI.</strong>
            </h1>

        </div>
        <!-- end of slide -->

        <!-- slide -->
        <div class="ms-slide slide-2" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="{{ asset('images/sliders/2.jpg') }}" alt=""/>


            <h1 class="ms-layer stext4"
                style="left: 130px; top: 335px; color: #FFFFFF"
                data-type="text"
                data-duration="900"
                data-delay="800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                <em>ANTI</em>:
                <strong>La force d'un <em>reseau</em></strong>
            </h1>


        </div>
        <!-- end of slide -->


        <!-- slide -->
        <div class="ms-slide slide-3" data-delay="8">

            <!-- slide background -->
            <img src="js/masterslider/blank.gif" data-src="{{ asset('images/sliders/4.jpg') }}" alt=""/>


            <h3 class="ms-layer stext9"
                style="left: 925px; top: 327px;"
                data-type="text"
                data-duration="900"
                data-delay="900"
                data-ease="easeOutExpo"
                data-effect="scale(1.5,1.6)"
                    >
                <i class="fa fa-paper-plane"></i> <br /> Une prestation de service <br /> <strong>adapter a tous votre budget</strong>
            </h3>

            <h1 class="ms-layer stext6"
                style="left: 130px; top: 335px; color: #000"
                data-type="text"
                data-duration="900"
                data-delay="1800"
                data-ease="easeOutExpo"
                data-effect="bottom(40)"
                    >
                <em>Nos transports de véhicules</em><br />

            </h1>

        </div>
        <!-- end of slide -->


    </div>

</div><!-- end slider -->