<div id="trueHeader">

    <div class="wrapper">


        <div class="logoarea">
            <div class="container">

                <!-- Logo -->
                <div class="logo"><a href="index.html" id="logo"></a></div>

                <div class="right_links">

                    <ul>
                        <li class="link"><a class="fancybox " href=""><i class="fa fa-envelope"></i> info@antimali.com</a></li>
                        <li class="social"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li class="social"><a href="#"><i class="fa fa-rss"></i></a></li>
                    </ul>

                </div><!-- end right links -->


            </div>
        </div>

        <!-- Menu -->
        <div class="menu_main">

            <div class="container">

                <div class="navbar yamm navbar-default">

                    <div class="container">
                        <div class="navbar-header">
                            <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
                                <button type="button" > <i class="fa fa-bars"></i></button>
                            </div>
                        </div>

                        <div id="navbar-collapse-1" class="navbar-collapse collapse">

                            <ul class="nav navbar-nav">

                                <li><a href="index.html" class="active">Acceuil</a></li>

                                <li> <a href="{{ path('anti_web_services') }}">Nos Services</a></li>

                                <li> <a href="{{ path('anti_web_about') }}" >Qui sommes Nous ?</a></li>

                                <li> <a href="{{ path('anti_web_gallery') }}">Galleries</a></li>

                                <li class="dropdown"> <a href="#" data-toggle="dropdown" class="dropdown-toggle">Liens Utiles</a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li> <a href="http://douanes.gouv.ml/index.aspx" target="_blank">Douane Malienne</a> </li>
                                        <li> <a href="http://www.xe.com/currencyconverter/" target="_blank">Convertisseur de devise</a> </li>
                                    </ul>
                                </li>

                                <li> <a href="{{ path('anti_web_contact') }}">Contact</a></li>

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div><!-- end menu -->

    </div>

</div>