<div class="container clearfix">

    <div class="col_half hidden-xs nobottommargin">

        <!-- Top Links
        ============================================= -->
        <div class="top-links">
            <ul>
                <li><a href=""><i class="icon-time"></i> Timings</a></li>
                <li><a href="demo-medical.php.html#"><i class="icon-phone3"></i> +223 20 79 33 20</a></li>
                <li><a href="demo-medical.php.html#" class="nott"><i class="icon-envelope2"></i> info@anti-mali.com</a></li>
            </ul>
        </div><!-- .top-links end -->

    </div>

    <div class="col_half col_last fright nobottommargin">

        <!-- Top Links
        ============================================= -->
        <div class="top-links">
            <ul>
                <li><a href="demo-medical.php.html#">EN</a>
                    <ul>
                        <li><a href="demo-medical.php.html#"><img src="{{ asset('images/icons/flags/french.png') }}" alt="French"> FR</a></li>
                        <li><a href="demo-medical.php.html#"><img src="images/icons/flags/italian.png" alt="Italian"> IT</a></li>
                        <li><a href="demo-medical.php.html#"><img src="images/icons/flags/german.png" alt="German"> DE</a></li>
                    </ul>
                </li>
                <li><a href="demo-medical.php.html#" data-scrollto="#booking-appointment-form" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="bgcolor" style="color:#fff;">Demander un Devis</a></li>
            </ul>
        </div><!-- .top-links end -->

    </div>

</div>