{% extends "ANTIWebBundle::layout.html.twig" %}

{% block title %} A Propos de nous {% endblock %}

{% block content %}
    <div class="clearfix"></div>
    <div class="page_title">
        <div class="container">

            <h1>Qui sommes <strong>nous</strong></h1>
            Agence de Negoce et de Transit Internationnal

        </div>
    </div><!-- end page title -->

    <div class="clearfix margin_top2"></div>


        <div class="container">
            <br />
            <div class="one_half"><img src="http://placehold.it/570x380" alt="" class="img_size1" /></div><!-- end section -->

            <div class="one_half last">

                <h3>ANTI - Le mot du Directeur Général</h3>
                <p>Bienvenue sur l’espace de communication institutionnelle de l'Agence de Negoce et de Transit International (www.anticdg.ml). Nous avons souhaité imprimer à ce site notre marque de fabrique (esprit d’ouverture et quête de qualité) et espérons vous voir vous l’approprier pour trouver des réponses satisfaisantes à votre quête d’information. Le site et ses contenus sont destinés essentiellement :</p>
                <p>
                <li>aux partenaires divers</li>
                <li>aux individus à la recherche d’informations sur l’entreprise ou le groupe </li>
                </p>


                <div class="clearfix margin_top5"></div>

                <div class="one_third circlefus">

                    <i class="fa fa-recycle"></i>
                    <br />
                    <h6>Neat &amp; Flexible</h6>

                </div><!-- end section -->

                <div class="one_third circlefus">

                    <i class="fa fa-cog"></i>
                    <br />
                    <h6>Tons of Features</h6>

                </div><!-- end section -->

                <div class="one_third last circlefus">

                    <i class="fa fa-thumbs-up"></i>
                    <br />
                    <h6>Easy to use</h6>

                </div><!-- end section -->

            </div><!-- end section -->

    </div>
            <div class="clearfix divider_dashed2"></div><!-- end divider line -->

    <div class="features_sec42 two">
        <div class="container">

            <h3 class="ipages_title1">Recontrez Notre  <strong>Equipe</strong></h3>
            <br />

            <div class="one_fourth animate" data-anim-type="fadeInUp">
                <div class="box">

                    <img src="http://placehold.it/270x245" alt="" />

                    <h5>Bandiougou Doucoure</h5>
                    <h6>Fondateur</h6>

                    <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue.</p>

                </div>
            </div><!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="200">
                <div class="box">

                    <img src="http://placehold.it/270x245" alt="" />

                    <h5>Samba Doucoure</h5>
                    <h6>Directeur General </h6>

                    <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue.</p>

                </div>
            </div><!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeInUp" data-anim-delay="400">
                <div class="box">

                    <img src="http://placehold.it/270x245" alt="" />

                    <h5>Mark Adraison</h5>
                    <h6>Marketing</h6>

                    <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue.</p>

                </div>
            </div><!-- end section -->

            <div class="one_fourth last animate" data-anim-type="fadeInUp" data-anim-delay="600">
                <div class="box">

                    <img src="http://placehold.it/270x245" alt="" class="rimg" />

                    <h5>Anya Siennadia</h5>
                    <h6>Support</h6>

                    <p>Lorem ipsum dolor amet, consectetue Radipiscing elit et Suspendisse et justo. mattis commodo augue.</p>

                </div>
            </div><!-- end section -->

        </div>
    </div><!-- end team section -->


    <div class="clearfix divider_dashed2"></div><!-- end divider line -->

    <div class="clients">

        <div class="container">

            <h3>Nos <strong>Clients</strong></h3>
            <br />
            <ul id="mycarouselthree" class="jcarousel-skin-tango">

                <li><img src="images/imprim.jpg" height="45px" width="155px" alt="" /></li>
                <li><img src="images/2m.gif" alt="" /></li>
                <li><img src="images/utc.png" alt="" /></li>
                <li><img src="images/matrans.jpg" height="45px" width="155px" alt="" /></li>

            </ul>

        </div>

    </div>
    <div class="clearfix margin_top5"></div>

{% endblock %}

