{% extends "ANTIWebBundle::layout.html.twig" %}

{% block title %} Bienvenue ! {% endblock %}

{% block slider %}
    {% include "ANTIWebBundle:includes:slider.html.twig" %}
{% endblock %}

{% block content %}
    <div class="clearfix"></div>


    <div class="fusection1">
        <div class="container">

            <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="200">

                <div class="icon"><img width="80" height="80" src="{{ asset('images/sliders/boat.png') }}" alt="" /></div>

                <h4>Transit Maritime</h4>

                <p>Default model search lorem ipsum many web sites in their infan.</p>

            </div><!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="400">

                <div class="icon"><img width="80" height="80" src="{{ asset('images/sliders/plane.png') }}" alt="" /></div>

                <h4>Transit Aerien</h4>

                <p>Default model search lorem ipsum many web sites in their infan.</p>

            </div><!-- end section -->

            <div class="one_fourth animate" data-anim-type="fadeIn" data-anim-delay="600">

                <div class="icon"><img width="80" height="80" src="{{ asset('images/sliders/car.png') }}" alt="" /></div>

                <h4>Transit Terrestre</h4>

                <p>Default model search lorem ipsum many web sites in their infan.</p>

            </div><!-- end section -->

            <div class="one_fourth last animate" data-anim-type="fadeIn" data-anim-delay="800">

                <div class="icon"><img width="80" height="80" src="{{ asset('images/sliders/douane.png') }}" alt="" /></div>

                <h4>Formalite de Dedouanement</h4>

                <p>Default model search lorem ipsum many web sites in their infan.</p>


            </div><!-- end section -->

        </div>
    </div><!-- end fusection1 -->


    <div class="clearfix"></div>

    <div class="fusection2">
        <div class="container">

            <h2 class="untext">Qui <strong>sommes nous</strong></h2>

            <div class="one_half">

                <h3 class="colored">A propos de l'entreprise</h3>

                <p>Spécialiste du transport maritime et aérien situé au coeur du
                    Mali, ANTI dessert les principaux
                    ports et aéroports des 5 continents. Aujourd’hui, ANTI travaille
                    avec plus de 40 compagnies maritimes, et près de 250 agents professionnels
                    du transport et du transit dans tous les pays. À l’international, chaque
                    transport est unique et nos prestations sont personnalisées afin de répondre au mieux à vos besoins.</p>

                <br />

                <div class="one_half animate" data-anim-type="fadeInUp">
                    <ul class="list_1">
                        <li><i class="fa fa-check-circle fa-lg"></i> Transit Aerien</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Transit Maritime</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Transit Terrestre</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Transit Ferroviere </li>
                    </ul>
                </div>

                <div class="one_half last animate" data-anim-type="fadeInUp">
                    <ul class="list_1">
                        <li><i class="fa fa-check-circle fa-lg"></i> Transport de Marchandises</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Transport de Vehicules</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Véhicules de Tourisme et Prestige</li>
                        <li><i class="fa fa-check-circle fa-lg"></i> Déménagement</li>
                    </ul>
                </div>

            </div>

            <div class="one_half last">

                <h3 class="colored">Rencontrez notre Equipe</h3>

                <div class="hteam animate" data-anim-type="fadeInUp">

                    <img src="http://placehold.it/140x150" alt="" />

                    <h5>Samba Doucoure <i>- Directeur General</i></h5>

                    <p>Many desktop publishin packages and web page editors sites still in versions have evolved over the years.</p>

                    <ul class="footer_social_links five">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>

                </div><!-- end section -->

                <div class="hteam animate" data-anim-type="fadeInUp">

                    <img src="http://placehold.it/140x150" alt="" />

                    <h5>Kevin Cameron <i>- Manager</i></h5>

                    <p>Many desktop publishin packages and web page editors sites still in versions have evolved over the years.</p>

                    <ul class="footer_social_links five">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                    </ul>

                </div><!-- end section -->

            </div>


        </div>
    </div><!-- end features section 2 -->

    <div class="clearfix"></div>

    <div class="fusection4">
        <div class="container">

            <h2 class="untext"><strong>Ce que pensent nos clients</strong></h2>

            <br />

            <div class="one_half animate" data-anim-type="fadeIn" data-anim-delay="100">

                <section class="slider nosidearrows">
                    <div class="flexslider carousel">
                        <ul class="slides">

                            <li>

                                <div class="peoplesays">
                                    <img src="http://placehold.it/96x96" alt="" />
                                    <p><i class="fa fa-quote-left fa-2x"></i> &nbsp; Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years. Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet to repeat predefined chunks as necessary. versions have evolved over the years. Lorem Ipsum, you need.</p>
                                    <br />
                                    <strong>- Connor Mackenzie <i>&nbsp;&nbsp;&nbsp;Company Name</i></strong>

                                </div>

                            </li><!-- end section -->

                            <li>

                                <div class="peoplesays">
                                    <img src="http://placehold.it/96x96" alt="" />
                                    <p><i class="fa fa-quote-left fa-2x"></i> &nbsp; Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years. Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet to repeat predefined chunks as necessary. versions have evolved over the years. Lorem Ipsum, you need.</p>
                                    <br />
                                    <strong>- Keon Keyshawn <i>&nbsp;&nbsp;&nbsp;Company Name</i></strong>

                                </div>

                            </li><!-- end section -->

                            <li>

                                <div class="peoplesays">
                                    <img src="http://placehold.it/96x96" alt="" />
                                    <p><i class="fa fa-quote-left fa-2x"></i> &nbsp; Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years. Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet to repeat predefined chunks as necessary. versions have evolved over the years. Lorem Ipsum, you need./p>
                                        <br />
                                        <strong>- Chloe Martha <i>&nbsp;&nbsp;&nbsp;Company Name</i></strong>

                                </div>

                            </li><!-- end section -->

                        </ul>
                    </div>
                </section>

            </div>


            <div class="one_half last animate" data-anim-type="fadeIn" data-anim-delay="200">

                <ul class="clients_home">
                    <li><img src="images/client-logo1.jpg" alt="" /></li>
                    <li><img src="images/client-logo2.jpg" alt="" /></li>
                    <li><img src="images/client-logo3.jpg" alt="" /></li>
                    <li><img src="images/client-logo4.jpg" alt="" /></li>
                    <li><img src="images/client-logo5.jpg" alt="" /></li>
                    <li><img src="images/client-logo6.jpg" alt="" /></li>
                    <li><img src="images/client-logo7.jpg" alt="" /></li>
                    <li><img src="images/client-logo8.jpg" alt="" /></li>
                </ul>

            </div>

        </div>
    </div><!-- end features section 4 -->
{% endblock %}