{% extends "ANTIWebBundle::layout.html.twig" %}

{% block title %} Nos services {% endblock %}

{% block content %}
    <div class="clearfix"></div>

    <div class="page_title">
        <div class="container">

            <div class="title"><h1>Nos Services</h1></div>
            Architecte du transport et International.
        </div>
    </div><!-- end page title -->



    <div class="clearfix"></div>

    <div class="container_full">

        <div class="feature_section81">
            <div class="container">

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="200">

                    <h4>Transit aerien</h4>

                    <img src="{{ asset('images/sliders/avion.png') }}" width="361" height="180" alt="" class="img_left1" />

                    <p>Nous proposonss un ensemble de produits utilisant principalement le mode de transport aérien et qui offre un large choix de solutions adaptées à l’ensemble des besoins de nos clients.</p>

                </div>

                <div class="one_third animate" data-anim-type="fadeIn" data-anim-delay="300">

                    <h4>Transit Maritime</h4>

                    <img src="{{ asset('images/sliders/terminal.jpg') }}" width="361" height="180" alt="" class="img_left1" />

                    <p>Grâce à notre large gamme de produits comprenant différents types d’équipements conteneurs complets et nos services de groupage LCL, nous nous assurons que votre expédition arrive au bon endroit, au bon moment, et à un coût optimisé. </p>

                </div>

                <div class="one_third last animate" data-anim-type="fadeIn" data-anim-delay="400">

                    <h4>Transit Terrestre</h4>

                    <img src="{{ asset('images/sliders/terre.jpg') }}" width="361" height="180" alt="" class="img_left1" />

                    <p>ANTI propose une offre de service terrestre flexible, fiable et efficace, incluant le transport routier, ferroviaire et intermodal. Nous bénéficions d’une capacité globale avec des services opérant en Europe, en Afrique du Nord, au Moyen-Orient, en Asie-Pacifique et sur le continent américain.</p>

                </div>

            </div>
        </div><!-- end features section81 -->

        <div class="clearfix"></div>

    <div class="clearfix"></div>

    <div class="features_sec30">
        <div class="container">

            <h2 class="red">ANTI <strong>en video</strong></h2>

            <p class="less1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse et justo. Praesent mattis commodo augue. Aliquam ornare hendrerit augue. Cras tellus. In pulvinar lectus a est. Curabitur eget Cras laoreet ligula. Etiam sit amet dolor.</p>
            <br><br>

            <div class="hvideo"><iframe src="https://www.youtube.com/embed/XxMu8vnwAfE" allowfullscreen="" frameborder="0"></iframe></div>

        </div>
    </div><!-- end features section30 -->

    <div class="clearfix margin_top7"></div>


{% endblock %}